# loop statement
loop is nothing but your code excuted same code again and again.

# for loop 
1.for loop is going to itreate object one by one.
2. we can use only for comma separated value and charecter of data.

In [1]:
l = ['H','E','L','L','O']
for char in l:
    print(char)

H
E
L
L
O

In [2]:
a = [10,20,30,40,50]
for num in a:
    print(num)

10
20
30
40
50

In [3]:
for num in a:
    print(num+1)

11
21
31
41
51

In [4]:
b = [1,2,3,4]

In [5]:
len(b)

4

In [6]:
for num in l:
    print('Hello')

Hello
Hello
Hello
Hello
Hello

# range of data set

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range (1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range(2,21,2):
    print (i)

2
4
6
8
10
12
14
16
18
20

# nested loop
loop inside loop it means nested loop

In [10]:
l = [1,2,3,4,[10,20,30],5,6]
for i in l:
    print(i)

1
2
3
4
[10, 20, 30]
5
6

# Check data types

In [11]:
d = [10,15,3,4,'H',True]

In [12]:
for i in d:
    print(type(i), i)

<class 'int'> 10
<class 'int'> 15
<class 'int'> 3
<class 'int'> 4
<class 'str'> H
<class 'bool'> True

# Filter out only int type data

In [13]:
f = [10,15.3,4,'H',True]

In [14]:
for i in f:
    if type(i) == int:
        print(i)

10
4

In [15]:
type(10)

int

In [16]:
type(15.3)

float

In [17]:
for i in f:
    if type(i) == float:
        print(i)

15.3

# Int and float

In [18]:
for i in f:
    if type(i) == int:
        print(i)
    elif type(i) == float:
        print(i)

10
15.3
4

In [19]:
mix_list = [[1,2,3,4], (10,20,30), {12,13,14}]

In [20]:
for i in mix_list:
    print(i)

[1, 2, 3, 4]
(10, 20, 30)
{12, 13, 14}

In [21]:
for i in mix_list:
    print(i, type(i))

[1, 2, 3, 4] <class 'list'>
(10, 20, 30) <class 'tuple'>
{12, 13, 14} <class 'set'>

In [22]:
for i in mix_list:
    if type(i) == tuple:
        print(i)

(10, 20, 30)

In [23]:
for i in mix_list:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]

In [24]:
mix_list

[[1, 2, 3, 4], (10, 20, 30), {12, 13, 14}]

In [25]:
for i in mix_list:
    if type(i) == list:
        for num in i:
            print(num)

1
2
3
4

# while loop
while loop is check condition infinit time but we have to make over condition false after some time that time over while loop will be stop

In [26]:
age = 15
while age<18:
    print('student',age)
    age = age+1

student 15
student 16
student 17

In [27]:
marks = 40
while marks > 35:
    print(marks)
    marks = marks-1

40
39
38
37
36

In [ ]:
button = 'Hello'
while button != 'stop':
    print(button)
    button = input ('Enter "stop" to exit loop')

Hello

# sum of 10 number

In [39]:
num = 10
sum = 0
while num > 0:
    sum = sum + num
    num = num-1

In [40]:
sum

55

# sum of 10 number using for loop

In [41]:
sum = 0
for i in range(1,11):
    sum = sum + i

In [42]:
sum

55

# sum of n natural number

In [44]:
n = 15
n*(n+1)

240

# break,continue,pass staement

break
1.break statement use for break over code and stop the code for working

In [50]:
for i in range(1,5):
    if i == 3:
        break
    print(i)

1
2

In [53]:
for i in 'Data Science':
    if i == 'c':
        break
    print(i)

D
a
t
a

S

continue
continue statement using for your conditon is true.but you can your code continue excuted.

In [55]:
for i in range (1,5):
    if i == 3:
        continue
    print(i)

1
2
4

In [56]:
for i in 'Data science':
    if i == 'a':
        continue
    print(i)

D
t

s
c
i
e
n
c
e

pass
pass is meing less statement this using for fill the block of code

In [57]:
for i in range (1,5):
    if i == 3:
        pass